div.brd-container
{
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

div.brd-unit
{
	background-color: var(--bg-color-light);
	display: none;
	height: 100%;
	width: 100%;
}

div.chn-left
{
	float: left;
	height: 100%;
	width: 85%;
}

div.msg-brd
{
	border: 3px solid var(--border-color);
	box-sizing: border-box;
	font-size: 23px;
	height: 94%;
	outline: none;
	overflow-y: auto;
	padding: 10px;
	width: 100%;
}

div.div-msg-input
{
	border: 3px solid var(--border-color);
	border-top: 0px;
	box-sizing: border-box;
	height: 6%;
	outline: none;
	width: 100%;
}

input.input-msg
{
	background: inherit;
	background-color: var(--hover-color);
    border: none;
	box-sizing: border-box;
	float: left;
	font-family: inherit;
    font-size: 23px;
    height: 1em;
	outline: none;
	width: 94%;
}

button.input-btn
{
	background-color: var(--border-color);
	border: none;
    box-sizing: border-box;
    cursor: pointer;
	font-family: inherit;
    font-size: 25px;
    height: 100%;
    margin: 0px;
	outline: none;
	width: 6%;
}

button.input-btn:hover
{
  font-size: 33px;
}

div.chn-usr
{
	border: 3px solid var(--border-color);
	border-left: none;
	box-sizing: border-box;
	font-size: 23px;
	float: left;
	height: 100%;
  padding: 10px;
	outline: none;
	overflow-y: auto;
	width: 15%;
}

div.brd-active
{
	display: inherit !important
}
