@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

html
{
  --bg-color-light: #fffae1;
  --bg-color-medium: #784d1d;
  --bg-color-dark: #451a00;
  --border-color: #6c6454;
  --hover-color: #c6d166;
  --hover-color-dark: #939e33;
}

body
{
  background: linear-gradient(to top left, var(--bg-color-medium) 0%, var(--bg-color-dark) 100%);
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu Mono', monospace;
}

ul
{
	margin: 0px;
	padding: 0px;
}

::-webkit-scrollbar
{
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button
{
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb
{
  background: var(--hover-color);
  border: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover
{
  background: var(--hover-color-dark);
}

::-webkit-scrollbar-thumb:active
{
  background: var(--hover-color-dark);
}

::-webkit-scrollbar-track
{
  background: var(--bg-color-light);
  border: none;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover
{
  background: var(--bg-color-light);
}

::-webkit-scrollbar-track:active
{
  background: var(--bg-color-light);
}

::-webkit-scrollbar-corner
{
  background: transparent;
}
