div.nav-container
{
  background-color: var(--bg-color-light);
  border: 3px solid var(--border-color);
  border-top: none;
  box-sizing: border-box;
  display: table;
  margin: 0px 0px 15px 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 75%;
  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

div.nav-btn
{
  float: left;
  width: 10%;
}

div.nav-btn button
{
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 25px;
  margin: 0px;
  outline: none;
  padding: 15px;
  position: relative;
  width: 100%;
}

div.nav-btn button.home
{
  font-size: 35px;
  padding: 10px;
}

div.nav-btn button:hover
{
  background-color: var(--hover-color);
}

div.nav-btn button span
{
  font-size: 14px;
  position: absolute;
  right: 7px;
  top: 7px;
}

div.nav-btn button span:hover
{
  color: #e53935;
}

div.nav-btn button.btn-active
{
  background-color: var(--border-color);
}
